$fa-font-path: '/webfonts';

:root {
    --font-family: Helvetica, Roboto, sans-serif;
}

// importing core styling file
@import './assets/fontawesome/scss/fontawesome.scss';

// our project needs Solid + Brands
@import './assets/fontawesome/scss/solid.scss';
@import './assets/fontawesome/scss/brands.scss';

body {
    font: 100% var(--font-family);
}

a {
    color: inherit;
}

article {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

p.subtitle {
    color: gray;
}

img {
    object-fit: contain;
    width: 100%;
    margin: auto;
}

:not(pre) > code {
    background-color: whitesmoke;
}

pre {
    padding: 0.75rem;
    overflow-x: auto;
}

.container {
    margin: auto;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 50%;
    }
}

.navigation,
.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;
    }
}

.navigation {
    a {
        color: gray;

        &.current {
            color: initial;
        }
    }
}

.social-media {
    font-size: x-large;

    li {
        margin-right: 0.5rem;
    }
}