{% extends "base.html" %}

{% block content %}
<h2>halo!</h2>
<p>
    I'm fadhlika. I write things __φ(◎◎ヘ). I am interested in a lot of things, including software and hardware hacking, 3d printing, homelab, coffee, anime, manga, and many more.
</p>
<ul class="social-media">
    <li>
        <a href="https://github.com/mfadhlika"><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/fadhlika/"><i class="fa-brands fa-linkedin"></i></a>
    </li>
</ul>
{% endblock content %}